@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}