@import "fonts";

/* Font Set */
$font-stack:            'GT America', system-ui, sans-serif;

$font-size-xsmall:      .9em;
$font-size-small:       1em;
$font-size-normal:      1.15em;
$font-size-large:       1.2em;

$weight-normal:         300;
$weight-semibold:       400;
$weight-bold:           500;

/* Text colors */
$primary-body-color:    rgba(29, 40, 50, .95);
$secondary-body-color:  rgba(29, 40, 50, .6);
$tertiary-body-color:   rgba(29, 40, 50, .3);


$primary-bold-color:    rgba(29, 40, 50, 1);


/* Link colors */
$link-color:                rgba(65, 102, 245, 1);


$link-border-color-hover:   rgba(54, 77, 170, 0.3);
$link-border-color-active:  rgba(65, 102, 245, 0.9);


/* Background Colors */
$invisible:            rgba(255, 255, 255, 0);
$white:                rgba(255,255,255, .9);

//#f2f3f4; slight off-white


/* Column Padding */
$spacing-xsmall:        1rem;
$spacing-small:         2rem;
$spacing-medium:        4rem;
$spacing-large:         8rem;

/* seperator */

$seperator :            1px rgba(54, 77, 170, 0.1) solid;
$seperator-invisible :  1px rgba(54, 77, 170, 0) solid;

/* Vertical paddings 
$v-padding-small:       4rem;
$v-padding-normal:      8rem;
*/

/* Inheritance */
%section{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [section-title] 2fr [section-content] 6fr;
    
    column-gap: $spacing-small;
    row-gap: $spacing-small;
    padding-bottom: $spacing-large;

}

@media screen and (max-width: 858px) {
    %section {
        grid-template-columns: repeat(1, 1fr);

        column-gap: $spacing-xsmall;
        row-gap: unset;
        padding-bottom: $spacing-small;
    }
}


/* 

    h1 {
        display:  block;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        font-size: 2px;
    } */