@import 'reset';
@import 'variables';

/* Shared basics */
html {
    font-size: 100%;
    font-kerning: normal;

    scroll-behavior: smooth;
} 

body {
    font-family: $font-stack;
    font-weight: $weight-normal;
    font-size: $font-size-normal;
    letter-spacing: -0.08px;    
    color: $primary-body-color;


    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
    font-family: $font-stack;
    font-weight: $weight-semibold;
    line-height: 1.15;
    margin-top: .35rem;
    margin-bottom: 0.5rem;
    color: $primary-bold-color;

  }
  

p {
    max-width: 62ch;
    line-height: 1.5;
    margin-bottom: 1.15rem;
}

.secondary {
    color: $secondary-body-color;
    font-weight: $weight-semibold;
}

b {
    color: $primary-bold-color;
    font-weight: $weight-semibold;
}
blockquote {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
    padding-top: $spacing-xsmall;
    padding-bottom: $spacing-xsmall;

    border-top: $seperator;
    border-bottom: $seperator;

    color: $primary-bold-color;
    font-size: $font-size-large;
    font-weight: $weight-semibold;
    max-width: 56ch;
    line-height: 1.5;
}

small {
    color: $secondary-body-color;
    font-size: $font-size-xsmall;
    font-weight: $weight-semibold;
    line-height: 1.33;
}
.xsmall {
    color: $secondary-body-color;
    font-size: $font-size-xsmall; 
    font-weight: $weight-semibold;
    line-height: 1.33;
}

.large {
    font-size: $font-size-large;
    font-weight: $weight-semibold;
}

ol {
    padding-left: 1rem;
    list-style: decimal;
    margin-bottom: 1.15rem;

    li {
        line-height: 1.45;
        max-width: 58ch;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }
    
}

ul {    
    padding-left: 1rem;
    list-style: disc;
    margin-bottom: 1.15rem;

    li {
        line-height: 1.45;
        max-width: 58ch;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }
} 
a {
    color: $link-color;
    font-weight: $weight-semibold;
    
    text-decoration: none;

    border-bottom: solid 1px $invisible;
    transition: border-color 0.33s ease;
    
    &:hover  {
        text-decoration: none;

        border-bottom: solid 1px;
        border-bottom-color: $link-border-color-hover;
        transition: border-color 0.33s ease;
        
    }

    &:active {
        border-bottom-color: $link-color;
    }
    
    &:visited {
        color: $link-color;
        border-bottom: none;
    }
}

/* Global components */
header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [logo] 2fr [nav] 6fr;

    align-items: flex-start;
    
    position: sticky;
    top: 0;

    backdrop-filter: saturate(150%) blur(5px);
    background-color: $white;

    column-gap: $spacing-small;
    margin-top: $spacing-small;
    padding-top: $spacing-xsmall;
    padding-bottom: $spacing-xsmall;

    z-index: 100;

    #logo {
        font-weight: $weight-bold;
    }
    ul {    
        padding-left: 0;
        margin-bottom: 0;
    
    } 

    li {
        display: inline;
        margin-right: $spacing-small;
        line-height: 1.66rem;
        padding-left: 0;
        padding-bottom: 0;
    }
    .selected {
        border-bottom: solid 1px $link-color;
    }
}


/* Layout basics */
.container {
    display: grid;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 $spacing-medium;

    transition: all 0.33s ease;
}

img {
    max-width: 100%;
    height: auto;

}

video {
    max-width: 100%;
    height: auto;

}

.img-link, .img-link > img{
    text-decoration: none !important;
    border:0px !important;
    outline:none;
    border-width: 0px;
    outline-width:0px;
    border-bottom: none;

    transition: all 0.33s ease;

    // border-radius: 2rem;
    // object-fit: cover;

    &:hover {
        transition: all 0.33s ease;
        opacity: .8;

    }
}

section {
    @extend %section;
}

section.imageFullWidth {
    @extend %section;
    grid-template-columns: 1fr;
    padding-bottom: $spacing-small;
}

#intro {
    padding-top: $spacing-large;

    p:first-child {
        font-size: $font-size-large;
        max-width: 50ch;
    }

    p:nth-child(2) {
        max-width: 56ch;
    }
}

#availability {
    padding-bottom: $spacing-large;

    #circle {
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        background: #13FF23;
        box-shadow: 0 0 5px 0 #13FF23;
        float: right;
        margin-top: .6rem;
    }
    p {
        max-width: 60ch;
    }
}

.contact-items {

    li {
        display: inline;
        margin-right: $spacing-small;
        line-height: 1.66rem;
    }
}

footer {
    @extend %section;
    border-top: $seperator;
    margin-top: $spacing-xsmall;
    padding-top: $spacing-xsmall;
    padding-bottom: $spacing-xsmall;
    align-self: flex-end;

    bottom: 0;
}

/*Global components */
section.caseStudies {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));

    column-gap: $spacing-small;
    row-gap: $spacing-large;
}


.caseStudyInfo{
    padding-top: $spacing-xsmall;
    .title {
        font-size: $font-size-large;
    }
    p {
        padding-top: $spacing-xsmall;
        margin-bottom: 0rem;
    }
}

/* Global animations */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }


/* First Breakpoint */
@media screen and (max-width: 858px) {

    body {
        font-size: $font-size-small;
    }

    .container {
        padding: 0 $spacing-xsmall;
        transition: all 0.33s ease;
    }

    header {
        grid-template-columns: repeat(1, 1fr);

        column-gap: $spacing-xsmall;
        row-gap: $spacing-xsmall/2;
        margin-top: $spacing-xsmall;
        padding-top: $spacing-xsmall;
        padding-bottom: $spacing-xsmall;
    
    }

    #availability {

        padding-bottom: 0rem;
        #circle {
            float: left;
            margin-top: .75rem;
            margin-right: .5rem;
            }
    }

    section.caseStudies {
        grid-template-columns: repeat(1, 1fr);
    }

    h2 {
        font-size: $font-size-normal;
    }
    
    footer {
        small {
            display: none;
        }
    }
}