@import 'variables';
@import 'base';

section {
    padding-bottom: $spacing-small;

    h2 {
        position: sticky;
        height: $spacing-medium;
        top: $spacing-medium;
    }

    .sticky {
        position: sticky;
        height: $spacing-medium;
        top: $spacing-medium;
    }
}



figure {
    display: grid;
    justify-items: left;

    figcaption {
        padding-top: $spacing-xsmall;
        padding-bottom: $spacing-small;

        max-width: 62ch;
        color: $secondary-body-color;
        line-height: 1.5;
        font-weight: $weight-semibold;
        font-size: $font-size-small;
        line-height: 1.35;
    }
}

.caseStudies {
    padding-top: $spacing-medium;
}

@media screen and (max-width: 858px) {
    section {
        padding-bottom: $spacing-xsmall;
        .sticky{
            position: unset;
            height: unset;
            top: unset;
            padding-bottom: $spacing-xsmall;
        }
    
        h2{
            position: unset;
            height: unset;
            top: unset;
            padding-bottom: unset;
        }
    }

}