@import 'variables';
@import 'base';

#contact-cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    column-gap: $spacing-small;
    row-gap: $spacing-small;;
    align-items: center;
    justify-items: left;
}

.contact-card {
    width: 100%;

    background-color:rgba(65, 102, 245, 0.05);
    border-bottom: none;

    transition: background-color 0.33s ease;
}

.contact-card:hover {
    background-color:rgba(65, 102, 245, 0.1);
    transition: background-color 0.33s ease;
    border-bottom: none;
}

.contact-card > div {
    padding: 3rem;
}

.contact-card > div > p {
    font-size: 0.9rem;
}

@media screen and (max-width: 858px) {
}