/* General */
* {
    box-sizing: border-box;
  }

body {
    background-color: #161830;
    color: #FDEACC;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* Basic Styling */
h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}

p {
    font-size: 18px;
    font-weight: 400;
}

a:link {
    color: #FFBE7A;
    text-decoration: none;
    font-weight: 600;
}
a:visited {
    color: #FFBE7A;
    text-decoration: none;
}
a:hover {
    text-decoration: underline 1px solid #FFBE7A;
}
a:active {
   
    text-decoration-line: underline;
}

::selection {
    background: #FFCBCB; /* WebKit/Blink Browsers */
    color: #161830;
    opacity: 0.5;
  }
  ::-moz-selection {
    background: #FFCBCB; /* Gecko Browsers */
    color: #161830;
    opacity: 0.5;
  }
/* layout details */
#container {
    max-width: 56.25rem;
    padding: 1.5rem;
    margin: auto;
}
#name {
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 4vh;
}
#profile {
    margin-bottom: 5vh;
}
#profile > img {
    max-width: 128px;
}

#hello {
    margin-bottom: 10vh;
}

section {
    display: inline-block;
    width: 100%;
    margin-bottom: 5vh;
}

.section-name {
    float: left;
    font-weight: 600;
    width: 25%;
}
.section-content {
    float: right;
    width: 75%;
    padding-right: 5vw;
}
.section-content > p {
    margin: 0;
    font-size: 16px;
}

#circle {
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    background: #13FF23;
    box-shadow: 0 0 5px 0 #13FF23;
    float: right;
    margin-top: 0.4em;
    margin-right: 2vw;
}
/* media breakdpoints */
@media screen and (max-width: 640px) {
    h1 {
      font-size: 18px;
      line-height: 24px;
    }

    #profile {
        margin-bottom: 10vh;
    }

    #profile > img {
        max-width: 64px;
    }

    .section-name {
        width: 100%;
        padding-bottom: 1vh;
    }
    .section-content {
        float: right;
        width: 100%;
    }

    #circle {
    float: left;
    margin-top: 0.4em;
    margin-right: 12px;
    }
}
