// Global Colors
// -------------


// Confirmed Colors
// Backgrounds
$white: 				#FFFFFF;

// Body
$black:					#000000;
$slate:					#434343;


// Navigation Regular
$light-grey:			#C2C2C2;

// CTA Navigation
$blue:					#415BF6;
$hover:					#1934CF;
$active:				#4A90E2;

// Get in Touch Blocks
$email:					#415BF6;
$dark-blue:				#1934CF;


$twitter-blue:			#55ACEE;
$twitter-hover:			#0077D2;


$dribbble:				#EA4C89;
$dribbble-hover:		#BD1254;
$dribbble-active:		#E86598;

$linkedin:				#0077b5;
$linkedin-hover:		#015D8D;



// Text Selection
$pitchfork:				#313131;


/*

// Testing Here
// Links
$standard:				#B5B5B5;
$hover:					#4A90E2;
$active:				#1934CF;
//$active:				#000000;

// Mini-links
$blue:					#415BF6;
$cta-hover:				#4A90E2;
$cta-click:				#1934CF;



*/




