// Global Styling
// ==============

// Import into each individual page style as the global style 
// Each page is mostly concentrated on susy-grid layout premis

// Compass imports
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";

// Global Layout Imports
@import "grids";
@import "colors";
@import "type";
@import "burger";



// Global elements
html {
	background-color: $white;
}  

#wrapper {
	@include container();

	@include susy-breakpoint($large, $susy) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@include susy-breakpoint ($medium, $susy) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@include susy-breakpoint ($small, $susy) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@include susy-breakpoint ($xsmall, $susy) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

}


header {
	@include span(full);

	padding-top: 5rem;
	padding-bottom: 8.5rem;

	@include susy-breakpoint ($small, $susy) {
		padding-top: 1rem;
		padding-bottom: 6rem;
	}

	nav {
		@include span(12);
		p span {display: block;}
		a {color: $light-grey;}

		::selection {
		  background: $white;
		  color: $blue
		}

	}


	.logo img{
		@include span(1 first);
		padding-right: 0.8em;

		//position: fixed;

		@include susy-breakpoint ($large, $susy) {
			@include span(1 first);
		}

		@include susy-breakpoint ($medium, $susy) {
			@include span(2 first);
			padding-right: 4rem;
		}

		@include susy-breakpoint ($small, $susy) {
			@include span(2 first);
			//padding-right: 2rem;
		}

		@include susy-breakpoint ($xsmall, $susy) {
			@include span(3 first);
			padding-right: 1rem;
		}
	}

	.nav-links {
		@include span(10 last);

		@include susy-breakpoint ($medium, $susy) {
			display: none;
		}
		@include susy-breakpoint ($small, $susy) {
			display: none;
		}

		.active {
			color: $slate;
		}
	}

	// Burger Menu
	.b-container {
		display: none;

		@include susy-breakpoint ($medium, $susy) {
			display: initial;
			position: relative;
			top: 0rem;
			float: right;
			width: 35px;
		}
		@include susy-breakpoint ($small, $susy) {
			display: initial;
		}
	}

}

// section moved to each individual pages section
.tag {
	@include span(2 first);

	@include susy-breakpoint ($medium, $susy) {
		@include span (full);
		padding-bottom: 1rem;
	}
	@include susy-breakpoint ($small, $susy) {
		@include span (full);
		padding-bottom: 1rem;
	}
}

section {
	@include span(full);
	padding-bottom: 6rem;

	@include susy-breakpoint ($large, $susy) {
		padding-bottom: 5rem;
	}

	@include susy-breakpoint ($xsmall, $susy) {
		padding-bottom: 5rem;
	}
}

.content {
	@include span(10 last);

	@include susy-breakpoint ($medium, $susy) {
		@include span(full);
	}
	@include susy-breakpoint ($small, $susy) {
		@include span(full);
	}
}

.column1 {
	@include span(6 first);
	padding-right: 1rem;

	@include susy-breakpoint ($medium, $susy) {
		@include span(6 first);
		//padding-bottom: 2em;
	}

	@include susy-breakpoint ($small, $susy) {
		@include span(full);
		padding-bottom: 2em;
		padding-right: 0rem;
	}
}

.column2 {
	@include span(6 last);
	padding-left: 1rem;

	@include susy-breakpoint ($medium, $susy) {
		@include span(6 last);
		//padding: 0rem;
	}

	@include susy-breakpoint ($small, $susy) {
		@include span(full);
		padding-left: 0rem;
	}
}

#availability {
	padding-bottom: 3rem;

	span {
		display: block;
		font-size: 1.266em;
		padding-bottom: 1.5rem;

		@include susy-breakpoint($large, $susy) {
			font-size: 1.13em;
		}

		@include susy-breakpoint($medium, $susy) {
			font-size: 1.13em;
		}
	}


	.circle {
		width: 0.75em; 
		height: 0.75em;
		border-radius: 50%;
		background: #13FF23;
		box-shadow: 0px 0px 6px 0px #13FF23;
		display: inline-block;
		float: right;

		margin-top: 0.7em;

		@include susy-breakpoint($medium, $susy) {
			float: initial;
			margin-left: 1rem;
		}

		@include susy-breakpoint($small, $susy) {
			float: initial;
			margin-left: 1rem;
		}
	}

	@include susy-breakpoint($medium, $susy) {
		.column1 {
			@include span(6 first);
		}
		.column2 {
			@include span(6 last);
		}
	}
}



//Footer
footer {
	@include span(full);
	padding-bottom: 2rem;

	#get-in-touch {
		@include span(3); 
	}

	#outro {
		@include span(7 last);
		text-align: justify;
	}

	@include susy-breakpoint($medium, $susy) {
		p {
			font-size: 0.875em;
		}
		#get-in-touch {
			@include span(5 first);
		}

		#outro {
			@include span(7 last);
		}
	}
	
	@include susy-breakpoint($small, $susy) {

		#get-in-touch {
			@include span(12);
		}

		#outro {
			display: none;
		}
	}
}



// Styling Little Touches
::selection {
  background: $pitchfork;
  color: $white;
}

// Mixins

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



