// Index Styling
// ==============

// Import Global CSS settings
@import "style";


html {}

body {
	background-color: $white;

} 

p {
	//text-align: justify;
}

#wrapper {
	@include container();
}

#gb {
	//background-color: #E8FBF9;
	background-image: url("/case-studies/kaizena/bg-school.png");

	.big-background{
		@include span(6 last);
		position: absolute;
		overflow: hidden;

		top: 18rem;
		right: 0;

		img {
			max-height: 30rem;
			width: auto;
			padding-left: 3rem;
		}



		@include susy-breakpoint($medium, $susy) {
			@include span(8 last);
			top: 25rem;
			padding-left: 6rem;
			img {
				max-height: 24rem;
				width: auto;
			}
		}

		@include susy-breakpoint($small, $susy) {
			@include span(full);
			position: static;
			padding-left: 0rem;

			img {
				width: 100%;
				height: auto;
				padding-left: 0rem;
			}

		}
	}

}

#case-study-intro {
	position: relative;
	top: 0px;

	padding-bottom: 3rem;

	.column1 {
		position: relative;
	}
	h2 {
		@include span(full);
		//text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
	}

	p {
		font-size: 1.13em;
	}

	.test-person {
		font-size: 1.13rem;
		padding-top: .75rem;
		font-family: $font-medium;
	}

	/*
		width: span(5 last);
		padding-left: 1rem;
		position: absolute;
		//top: -4rem;
		right: 0px;
		z-index: 2;
		//opacity: ;

		@include susy-breakpoint($medium, $susy) {
			width: span(6 last);
			top: 1rem;
			}

		@include susy-breakpoint($small, $susy) {
			width: span(7 last);
			top: 2rem;

			}
		@include susy-breakpoint($xsmall, $susy) {
			width: span(10 last);
			top: 2.7rem;
			//position: static;
			opacity: 0.3;
			} 
			*/
		
}

#case-study {
	padding-top: 3rem;

	.row {
		display: block;
		text-align: center;
	}
	.column1, .column2 {
		padding-bottom: 2rem;
		white-space: normal;
	}

	.content {
		@include span(8);
		@include push(2);


		@include susy-breakpoint($large, $susy) {
			@include span(10);
		}
		@include susy-breakpoint($medium, $susy) {
			@include span(full);

		}

		@include susy-breakpoint($small, $susy) {
			@include span(full);

		}

		@include susy-breakpoint($xsmall, $susy) {
			@include span(full);

		}

		h3, h4 {
			padding-bottom: 0.5rem;
			padding-top: 1rem;
		}
		p {
			padding-bottom: 1.25rem;
			line-height: 2em;
		}

		li {
			padding-bottom: 1rem;
		}

		a:hover {
			text-decoration: underline;
		}

		img {
			text-align: center;
		}
	}
}

.full-image {
	@include span (full);
	text-align: center;

	padding-bottom: 1.25rem;

	overflow: scroll;

}

.flexible-image {
	@include span (full);
	text-align: center;

	padding-bottom: 1.25rem;

	img {
		width: 100%;
		height: auto;
	}
}

footer {
	background-color: $white;
	padding-top: 3rem;

	#outro {
		@include span(6 last);
		padding-left: 1rem;
	}
}


