/* Text Elements */
@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

body {
    background-color: #F7F9F8;

    color: #1D2832;
    font-family: 'GT America', system-ui, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: font-size 0.33s ease;

}

h1, h2, h3, h4, h5 {
    font-family: 'GT America', system-ui, sans-serif;
    font-weight: 400;
}
h1 {
    font-weight: 500;
}

p {
    line-height: 1.33;
    max-width: 64ch;
    padding-bottom: 1rem;
}
b {
    font-weight: 400;
}

small {
    font-size: 0.8em;
}

.large {
    font-size: 1.33rem;
    font-weight: 400;
}
ul li {
    line-height: 1.66rem;
}
/* Links */
a {
    color: #4166F5;
    font-weight: 400;
    text-decoration: none;

    border-bottom: solid 1px;
    border-bottom-color: rgba(54, 77, 170, 0);
    transition: border-color 0.33s ease;
}

a:hover  {
    text-decoration: none;

    border-bottom: solid 1px;
    border-bottom-color: rgba(54, 77, 170, 0.2);
   
}
a:active {
    color: #1D2832;
    border-bottom-color: rgba(65, 102, 245, 0.9);
}

a:visited {
    color: #4166F5;
    border-bottom: none;
}

.selected {
    border-bottom: solid 1px;
    border-bottom-color: rgba(65, 102, 245, 0.6);
}

/* Components */
.link-button {
    padding: .75rem;
    margin-right: .2rem;
    background-color:rgba(65, 102, 245, 0.05);
    float: left;
    border-bottom: none;
    transition: background-color 0.33s ease;
}

.link-button:hover {
    background-color:rgba(65, 102, 245, 0.1);
    transition: background-color 0.33s ease;
    border-bottom: none;
}

.button-group {
    padding-top: 1rem;
}

/* Layout */
html {
    scroll-behavior: smooth;
  }
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem;

    min-height: 94vh;
}

header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [logo] 1fr [nav] 5fr;
    grid-column-gap: 2rem;
    align-items: end;
    
   
    position: sticky;
    top: 0;
    background-color: #F7F9F8;

    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header li {
    display: inline;
    padding-right: 1.33rem;
}

section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [section-title] 1fr [section-content] 5fr;
    
    grid-column-gap: 2rem;
    padding-top: 8rem;
}

#logo {
    font-weight: 500;
}



.intro-paragraph {
    font-size: 1.5rem;
    max-width: 52ch;
}

#circle {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: #13FF23;
    box-shadow: 0 0 5px 0 #13FF23;
    float: right;
    margin-top: .4rem;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 3rem 0 3rem;
}


/* Index page specific */
#work-section > article {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [company] 1fr [company-description] 2fr [link-button] .75fr;
    grid-column-gap: 2rem;
    align-items: center;
    justify-items: left;

    padding: 2rem 0rem;

    border-top: 1px rgba(29,40,50,.1) solid;
}

.case-studies {
    display: grid;
    width: 100%;
    justify-content: right;
}

.case-studies >.link-button {
    font-size: .8em;
}

#work-section > article:last-child {
    border-bottom: 1px rgba(29,40,50,.1) solid;
}

.company> h3{
    font-size: 1.20rem;
}

.company-description > p {
    padding-bottom: 0;
}

/* contact page specific */
#contact-cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    justify-items: left;
}

.contact-card {
    width: 100%;

    background-color:rgba(65, 102, 245, 0.05);
    border-bottom: none;

    transition: background-color 0.33s ease;
}

.contact-card:hover {
    background-color:rgba(65, 102, 245, 0.1);
    transition: background-color 0.33s ease;
    border-bottom: none;
}

.contact-card > div {
    padding: 3rem;
}

.contact-card > div > p {
    font-size: 0.9rem;
}


@media screen and (max-width: 858px) {
    .container {
        padding: 0 1rem;
    }

    header {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1rem;

        margin-top: 1rem;
        margin-bottom: 1.5rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    #title {
        font-size: 0.878em;
        display: none;
    } 
    
    #circle {
        float: left;
        margin-top: 0.3em;
        margin-right: .5rem;
        }

    section {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: .5rem;

    }
    #work-section > article {
        grid-template-columns: repeat(1, 1fr);
    }

    .company-description {
        padding-top: 1rem;
    }
    
    .case-studies {
        padding-top: 1rem;
        justify-content: left;
    }

    footer {
        padding: 0 1rem;
        padding-top: 3rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    #contact-cards {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }

}

/* animations */
.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }